.outermost-element
  %h2 
    = "#{@patient.name}'s profile"

  %table.show-patient-table
    - Patient::ASSIGNABLE_ATTRIBUTES.each do |attr|
      %tr
        %td
          = "#{attr.to_s.humanize}: "
        %td
          = @patient.send(attr)

    - if @patient.migration
      %tr
        %td
          Patient imported via:
        %td 
          = link_to "this migration", migration_path(@patient.migration)


