%h2 
  = "Welcome, #{@patient.first_name}"

%p
  Name:
  = @patient.first_name

%p
  Last name:  
  = @patient.last_name

%p
  Health Identifier Number:  
  = @patient.health_identifier_number
  
%p
  Health Identifier Province:  
  = @patient.health_identifier_province

%p
  Email:  
  = @patient.email

%p
  Date of birth:  
  = @patient.date_of_birth

- if @patient.migration
  %p
    Patient imported via 
    = link_to "this migration", migration_path(@patient.migration)


