#migration-info.outermost-element
  %div
    Status:
    %b
      = @migration.status.to_s.humanize.titleize
  %div
    Initiated by:
    - clinic_member = @migration.clinic_member
    = link_to clinic_member.name, clinic_member
  %div
    Created at:
    = @migration.created_at.to_fs(:db)
  %div
    Time taken to parse the CSV:
    = show_time_stat(@migration, "parsing_time")
  %div
    Time taken so far to import records:
    = show_time_stat(@migration, "import_time")
  %div 
    Original CSV:
    = link_to @migration.csv_file.file_blob.filename, rails_blob_path(@migration.csv_file.file, disposition: 'attachment')

  -# = render 'migrations/text_fields'

- if @migration.status == :assigning_headers
  .outermost-element
    #parsed-rows-number
      The uploaded CSV file has
      = @migration.csv_file.number_of_rows
      rows.
    

- else
  #migration-statistics.flex-row.outermost-element
    #total-record-stats.flex-column
      .stat-main-title
        Total records
      %div#migration-stats-total-records
        = @migration.import_rows.count
    #pending-record-stats.flex-column
      .stat-main-title
        Pending records
      .flex-row
        .flex-column.stat-main-col
          %div
            Valid records
          %div
            = @migration.import_rows.pending_valid.count
        .flex-column.stat-main-col
          %div
            Records with issues
          %div
            = @migration.import_rows.pending_non_valid.count
    .flex-column
      .stat-main-title
        Finalized records
      .flex-row
        .flex-column.stat-main-col
          %div
            Accepted records
          %div
            = @migration.import_rows.accepted.count
        .flex-column.stat-main-col
          %div
            Rejected records
          %div
            = @migration.import_rows.rejected.count

  -# #migration-statistics.outermost-element
  -#   %table#migration-statistics-table
  -#     %tr
  -#       %th
  -#         Total records
  -#       %th
  -#         Valid records
  -#       %th
  -#         Records with issues
  -#       %th
  -#         Imported records
  -#       %th
  -#         Rejected records
  -#     %tr
  -#       %td
  -#         = @migration.import_rows.count
  -#       %td
  -#         = @migration.import_rows.pending_valid.count
  -#       %td
  -#         = @migration.import_rows.pending_non_valid.count
  -#       %td
  -#         = @migration.import_rows.accepted.count
  -#       %td
  -#         = @migration.import_rows.rejected.count