%div
  This migration has:

%div
  %h2 Pending records

  %h3 Records with issues
  %table
    %tr
      %th Warnings
      %th Modify the record
      - ImportHeader.all.each do |import_header|
        %th
          = import_header.patient_attribute.humanize
      
    - import_header_ids = ImportHeader.ids

    - @migration.import_rows.pending_non_valid.each do |import_row|
      %tr
        %td
          = formatted_warnings(import_row)
        %td
          = link_to "Edit record", edit_import_row_path(import_row)
        - import_header_ids.each do |import_header_id|
          - cell = import_row.import_cells.find_by(import_header_id: import_header_id)
          %td 
            = cell.raw_data


  %h3 Valid records - ready to be imported!
  = form_with(model: @migration) do |f|
    %table
      %tr
        %th Import record
        - ImportHeader.all.each do |import_header|
          %th
            = import_header.patient_attribute.humanize
        
      - import_header_ids = ImportHeader.ids

      - @migration.import_rows.pending_valid.each do |import_row|
        %tr
          %td
            = check_box_tag("rows_to_import[#{import_row.id}]", "1", true)
          - import_header_ids.each do |import_header_id|
            - cell = import_row.import_cells.find_by(import_header_id: import_header_id)
            %td 
              = cell.raw_data
    
    = f.submit "Import selected records"
%div
  %h2 Accepted records
  %table
    %tr
      %th See patient's profile
      - ImportHeader.all.each do |import_header|
        %th
          = import_header.patient_attribute.humanize
    
    - @migration.import_rows.accepted.each do |import_row|
      %tr
        %td
          = link_to "Patient's profile", patient_path(import_row.patient)
        - import_header_ids.each do |import_header_id|
          - cell = import_row.import_cells.find_by(import_header_id: import_header_id)
          %td 
            = cell.raw_data

%div
  %h2 Rejected records
  %table
    %tr
      - ImportHeader.all.each do |import_header|
        %th
          = import_header.patient_attribute.humanize
    
    - @migration.import_rows.rejected.each do |import_row|
      %tr
        - import_header_ids.each do |import_header_id|
          - cell = import_row.import_cells.find_by(import_header_id: import_header_id)
          %td 
            = cell.raw_data