%h1.outermost-element#migration-show-header
  Page for migration:
  = @migration.name.titleize

= render 'migrations/header'

- if @migration.status == :assigning_headers
  = render 'migrations/assign_headers'

- elsif @migration.status == :in_progress
  = render 'migrations/in_progress'

- elsif @migration.status == :completed
  = render 'migrations/finalized_records'
